@import url('https://fonts.googleapis.com/css?family=Work+Sans:800&display=swap');

.transition {
  transition: all 0.3s ease-in-out !important;
}

* {
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;

}

h1,
h2,
h3 {
  text-transform: uppercase;
}


h3 {
  margin-top: 10px;

}



.sale-price {
  color: red;
}

.on-sale {
  margin-left: 10px;
  text-decoration: line-through;
}


.card-body{
  width:300px;
  word-wrap: break-word;
}
