<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/path/to/material-icons/css/material-icons.min.css">


<ngx-hm-carousel
  [(ngModel)]="index"
  (ngModelChange)="indexChanged($event)"
  (ngModelChange)="toggleDirection($event)"





  [data]="videos"

  class="carousel">

  <section ngx-hm-carousel-container class="content">
    <article class="item cursor-pointer visible_important"
             ngx-hm-carousel-item
             *ngFor="let video of videos; let i = index">
<!--      <div class="img"-->

<!--      <section class="card card-info text-white bg-dark mb-3">-->

<!--        <section class="card-img-top">-->

        <div class="container">
<!--          <div class="img"-->
<!--               [style.backgroundImage]="'url(http://picsum.photos/600/400/?1)'">-->
<!--          </div>-->
          <iframe  class="responsive-iframe"  [src]="video.video | safe"  frameborder="0" webkitallowfullscreen mozallowfullscreen
                  allowfullscreen></iframe>
        </div>


<!--        </section>-->
<!--      </section>-->

    </article>
    <ng-template #infiniteContainer></ng-template>
  </section>

<!--  <ng-template #carouselContent let-avatar let-i="index">-->
<!--    <article class="item cursor-pointer visible_important">-->
<!--      <div class="img"-->
<!--           [style.backgroundImage]="'url('+avatar.url+')'">-->
<!--      </div>-->
<!--    </article>-->
<!--  </ng-template>-->



  <ng-template #carouselDot let-model>
    <div class="ball bg-accent"
    ></div>
    <i class="material-icons"></i>
  </ng-template>

  <ng-template #carouselPrev>
    <div class="click-area">
      <i class="material-icons">keyboard_arrow_left</i>
    </div>
  </ng-template>
  <ng-template #carouselNext>
    <div class="click-area">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
  </ng-template>

</ngx-hm-carousel>


